*{
    margin:0;
    padding:0;
}

/*---------------------------------------------------LOGO-----------------------------------------------*/

#logo{
    position: relative;
    left:0;
    margin: 20px 10px;
    height: 60px;
    width:auto;
}

/*---------------------------------------------------MAIN-COLUMNS-----------------------------------------------*/

/*----------------------------VIDEO-BOX----------------------*/
.video-box{
    background-color: #ecf0f1;
    height:70vh;
    border-radius: 10px;
    margin-right: 20px;
}

/*----------------------------OPTION-BOX----------------------*/

.option-box{
    font-size: 20px;
}
.option-box ul li{
    margin-bottom: 30px;
}

.option-box ul li input{
    color: #95a5a6;
    margin-top: 10px;
    padding: 10px 15px;
    border:1px solid #95a5a6;
    border-radius: 15px;
}

.option-box ul li input:focus{
    outline: none;
}

ion-icon[name="chevron-down-outline"]{
    cursor:pointer;
}

.toggle-switch{
    cursor:pointer;
    position: relative;
    width: 40px;
    height: 20px;
    -webkit-appearance:none ;
    background: #c6c6c6;
    outline: none;
    transition: 0.5s;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}

.toggle-switch:checked{
    background: #03a9f4;
}

.toggle-switch:before{
    content:'';
    position: absolute;
    width: 20px;
    height:20px;
    border-radius: 20px;
    top:0;
    left:0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    transition: 0.5s;
}

.toggle-switch:checked:before{
    left:20px;
}

/*---------------------------------------------------BUTTONS-----------------------------------------------*/

.buttons ul li{
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
}

.buttons ul li button{
    transition: ease-in-out 0.2s;
}

/*----------------------------BTN-1----------------------*/

.btn-1{
    color:#fff;
    background-color: #ff1616;
    border: none;
}

.btn-1:hover{
    border:none;
    color:#fff;
    background-color:#d10000 ;
}

/*----------------------------BTN-2----------------------*/

.btn-2{
    color:#fff;
    background-color: #00d0f5;
    border: none;
}

.btn-2:hover{
    border:none;
    color:#fff;
    background-color:#00c1e4 ;
}